
@media(max-width:768px) {
    .containerskills {
        flex-direction: column;
        padding: 20px;
    }

    .skill-bar {
        width: 100%;
        left: 0%;
    }

    .projectcon h1 {
        padding: 0 20px;
    }

    footer {
        
    }

    .links {
        margin-top: 25px;
    }

    .links h1 {
        
        
    }

    .links i {
        left: 0%;
        bottom: 0%;
    }
    .links h2 {
        
    }
    .headertxt{
        left: 0%;
        top: 0%;
    }
    .headertxt h1{
        font-size: 20pt;
    }
    .button{
        transform: translate(0%,30%);
       
    }
    .project1{
        
    }
    .profileT i{
        font-size: 30pt;
    }

    
    
}

@media(max-width:1024px) {
    .skill-bar {
        width: 100%;
        left: 0%;
    }

    footer {
        display: grid;
        grid-template-columns: auto auto;
        overflow: auto;
    }

    .links {
        margin-top: 25px;
    }
    .links i {
        left: 20%;
        bottom: 0%;
    }
    .headertxt{
        left: 3%;
        top:40%
    }
    .button{
       
        left: 0;
        transform: translate(0%,100%);
        overflow: ;
    }
    .abticons{
        display: grid;
        grid-template-columns: auto auto;
    }
  
    
    
    
}