* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
.headerbackground{
    width: 100%;
    height: 100vh;
    background-color: #2d3436;
    overflow: hidden;
}
.headertxt{
    width: 100%;
    position: relative;
    left: 40%;
    top: 30%;
    color: white;
    text-align: left;
}
.headertxt h1{
    font-size: 40pt;
}

.rotate::before{
    content: '';
    animation: animate 8s infinite;
    color: #00a8ff
}
.bt{
    width: 100%;
    position: absolute; 
    text-align: center;
    top: 60%;
    
}
.button{
    font-size: 16pt;
    padding: 15px;
    position: relative;
    cursor: pointer;
    margin: 5px;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    text-align: center;
    width: 250px;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  

@keyframes animate{
    0%{
        content: 'Web Developer';
    }
    25%{
        content: 'Web Designer';
    }
    50%{
        content: 'Freelancer';
    }
    75%{
        content: 'Video Editor';
    }
    100%{
        content: 'Logo Designer';
    }

}

.navbar {
    display: flex;
    padding: 10px;
    background-color: #1b242f;
    border-bottom: 4px solid #04c2c9;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    justify-content: space-around;

}

.navbar li {
    list-style: none;

    color: white;
    font-weight: bold;
    font-family: sans-serif;



}

.navbar a {
    text-decoration: none;
}

.abtext {
    width: 100%;
    text-align: center;
    position: relative;


}

.abtext h1 {
    font-size: 30pt;
    color: #444649;

}

.hr2 {
    margin: auto;
    background-color: #444649;
    height: 4px;
    width: 100px;
    border: 1px solid #444649;
}

.hr3 {
    margin: auto;
    background-color: #444649;
    height: 4px;
    width: 100px;
    border: 1px solid #444649;
    margin-top: 20px;

}

.abticons {
    width: 100%;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.abticons i {
    font-size: 40pt;
    color: #444649;
    margin-top: 70px;




}

.abticons p {
    font-size: 18pt;
    margin-top: 20px;
    font-weight: 100;

}

.containerskills {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;



}

.profileT {
    width: 100%;
    padding: 0;
    text-align: center;
    margin: 5px;
}

.profileT h1 {
    width: 100%;
    padding: 30px;
}

.profileT p {
    font-size: 16pt;
}

.profileT i {
    font-size: 40pt;
    margin: 20px;
}


.skillsT {
    width: 100%;
    list-style: none;
    overflow: hidden;
    margin-right: 20px;
    padding: 0;

}

.skillsT h1 {
    text-align: center;
    color: #444649;
    width: 100%;
    padding: 30px;

}

.skill-bar {
    width: 500px;
    height: 30px;
    background-color: #ddd;
    display: inline-block;
    position: relative;
    margin-top: 10px;
    left: 15%;


}

.skill-bar p {
    position: absolute;
    line-height: 30px;
    color: #fff;
    font-size: 10pt;

}

.skill-bar p:nth-child(2) {
    width: 150px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;


}

.skill-bar p:nth-child(3) {
    right: 10px;
    color: rgba(0, 0, 0, 0.5)
}

.skill-bgcolor {
    position: absolute;
    height: 100%;
    left: 0;
}

.projectcon {
    text-align: center;
    color: #444649;
    width: 100%;
    padding: 10px;
}

.horizontal-scroll {
    background-color: ;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 20px 0;

}

.project1 {

    display: inline-block;
    width: 450px;
    background-color: #F5F5F5;
    text-align: center;
    padding: 50px 30px;
    font-size: 20px;
    margin: 0 10px;
    background-position: center;
    height: 300px;
    background-size: cover;
    background-image: url('../img/myimage.png');
    background-position: center center;
    border: none;
    border-radius: 10px;






}

.project2 {

    display: inline-block;
    width: 450px;
    background-color: #F5F5F5;
    text-align: center;
    padding: 50px 30px;
    font-size: 20px;
    margin: 0 10px;
    background-position: center;
    width: 450px;
    height: 300px;
    background-size: cover;
    background-image: url('../img/myimage2.png');
    border-radius: 10px;
}

.project3 {

    display: inline-block;
    width: 450px;
    background-color: #F5F5F5;
    text-align: center;
    padding: 50px 30px;
    font-size: 20px;
    margin: 0 10px;
    background-position: center;
    width: 450px;
    height: 300px;
    background-size: cover;

    border-radius: 10px;
}

.project4 {

    display: inline-block;
    width: 450px;
    background-color: #F5F5F5;
    text-align: center;
    padding: 50px 30px;
    font-size: 20px;
    margin: 0 10px;
    background-position: center;
    width: 450px;
    height: 300px;
    background-size: cover;
    border-radius: 10px;
}



.horizontal-scroll::-webkit-scrollbar {
    width: 1px;

}

/* Track */
.horizontal-scroll::-webkit-scrollbar-track {
    height: 1px;
}

/* Handle */
.horizontal-scroll::-webkit-scrollbar-thumb {
    background: #04c2c9;
    border-radius: 10px;

}

/* Handle on hover */
.horizontal-scroll::-webkit-scrollbar-thumb:hover {
    background: #04c2c9;
}

footer {
    background-color: #1b242f;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    
    border-top: 3px solid #04c2c9;
}

.links {
    width: 100%;
    
}

.links h1 {
    font-size: 16pt;
    text-align: center;
    color: white;
}

.links i {
    display: block;
    
    font-size: 16pt;
    position: relative;
    left: 33%;
    bottom: 5%;
   
   
    
}

.links h2 {
    font-size: 13pt;
    font-weight: 100;
   text-align: center;
    color: whitesmoke; 
    

}
.links a{
   text-decoration: none;
  
}
.links span{
    color: white;
    font-size: 13pt;
}
.links h1 h2 i a:hover{
    color: red;
}